<%= form_for(@transact) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	
  <div class='form-group'>
    <%= f.label 'Amount'  %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>
	
  <div class='form-group'>
    <%= f.label 'Budget' %>
    <%= f.select(:budget_id, options_for_select(@budgets, @transact.budget_id), {}, class: 'form-control')%>
  </div>

  <% if @new_transact %>
    <div class='form-group' id='transfer-to-budget' style='display: none'>
      <%= label_tag 'Transfer To' %>
      <%= select_tag :to_budget_id, options_for_select(@budgets, @transact.budget_id), class: 'form-control' %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label 'Description'  %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
	
  <div class='form-group'>
    <div class='btn-group btn-group-toggle' data-toggle='buttons' id='transaction-type-selector'>
      <%= f.label :type_debit, class: "btn btn-danger #{@transact.credit? ? '' : 'active'}" do %>
        <%= f.radio_button :credit, 'Debit', checked: !(@transact.credit?), autocomplete: :off %> Debit
      <% end %>

      <%= f.label :type_credit, class: "btn btn-success #{@transact.credit? ? 'active' : ''}" do %>
        <%= f.radio_button :credit, 'Credit', checked: @transact.credit?, autocomplete: :off %> Credit
      <% end %>

      <% if @new_transact %>
        <%= f.label :type_transfer, class: 'btn btn-primary' do %>
          <%= f.radio_button :credit, 'Transfer', autocomplete: :off %> Transfer
        <% end %>
      <% end %>

    </div>

    <span class='pull-right'>
      <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
      <% if @transact.id %>
        <%= link_to "Delete", transact_path(@transact), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </span>
  </div>

<% end %>
